.btn {
  font-size: 16px;
  color: #fff;
  padding: 10px 30px;
  border-radius: 50px;
  transition: 0.5s;
  cursor: pointer;
  &:hover {
    transition: 0.5s;
    padding: 10px 36px;
  }
}
@media (hover: hover) {
  .btn:hover {
    transition: 0.5s;
    padding: 10px 36px;
  }
}
.primary {
  background: linear-gradient(94.78deg, #df5950 11.19%, #451046 93.72%);
}
.header-btn {
  background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
}
.btn-outline {
  border: 1px solid #fff;
  margin: 0 auto;
}
