.container {
  padding: 0 312px;
}
.container.full {
  padding-left: 0;
  padding-right: 0;
}
.row {
  display: flex;
  flex-wrap: wrap;
}

$columns: 12;

@media (min-width: 1920px) {
  @mixin col-x {
    @for $i from 1 through $columns {
      .col-#{$i} {
        width: 100% / $columns * $i;
      }
    }
  }
  @include col-x;
}

@media (max-width: 1920px) {
  @mixin col-x {
    @for $i from 1 through $columns {
      .col-#{$i} {
        width: 100% / $columns * $i;
      }
    }
  }
  @include col-x;
}

@media (max-width: 1440px) {
  .container {
    padding: 0 150px;
  }

  @mixin col-ld-x {
    @for $i from 1 through $columns {
      .col-ld-#{$i} {
        width: 100% / $columns * $i;
      }
    }
  }
  @include col-ld-x;
}

@media (max-width: 1024px) {
  .container {
    padding: 0 100px;
  }
  .header-container {
    margin-top: 40px;
    padding: 0 20px;
  }

  @mixin col-md-x {
    @for $i from 1 through $columns {
      .col-md-#{$i} {
        width: 100% / $columns * $i;
      }
    }
  }
  @include col-md-x;
}

@media only screen and (max-width: 768px) and (min-width: 375px) {
  .container {
    padding: 0 30px;
  }
  .header-container {
    margin-top: 10px;
  }

  @mixin col-sm-x {
    @for $i from 1 through $columns {
      .col-sm-#{$i} {
        width: 100% / $columns * $i;
      }
    }
  }
  @include col-sm-x;
}
