$white-25: rgba(255, 255, 255, 0.25);
$white-30: rgba(255, 255, 255, 0.3);
$white-40: rgba(255, 255, 255, 0.4);
$white-50: rgba(255, 255, 255, 0.5);
$white-80: rgba(255, 255, 255, 0.8);
.partners {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 200px;
}

.partners-title-row {
  display: flex;
  align-self: flex-start;
  font-size: 48px;
  font-weight: 700;

  .partners-img {
    max-height: 80px;
    margin-right: 30px;
  }
  margin-bottom: 80px;
}
.msi-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-width: 1300px;
}
.msi-logo-container {
  padding: 30px 60px;
  border: 1px solid $white-30;
}

@media only screen and (max-width: 768px) and (min-width: 375px) {
  .partners-title-row {
    font-size: 36px;
  }
}
