$white-25: rgba(255, 255, 255, 0.25);
$white-30: rgba(255, 255, 255, 0.3);
$white-40: rgba(255, 255, 255, 0.4);
$white-50: rgba(255, 255, 255, 0.5);
$white-80: rgba(255, 255, 255, 0.8);
.program {
  margin-bottom: 200px;
}
.program-top-row {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
.program-logo {
  margin-bottom: 70px;
}
.program-title {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 30px;
}
.program-text {
  font-size: 16px;
  margin-bottom: 80px;
  color: $white-50;
}
.program-bottom-row {
  display: flex;
  justify-content: center;
}
.left-side {
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.road-content {
  position: relative;
  padding: 40px;
}
.side-title {
  margin-bottom: 15px;
  font-size: 14px;
  color: $white-50;
}
.side-text {
  font-size: 18px;

  &::before {
    content: "";
    width: 35px;
    height: 1px;
    background-color: $white-30;
    position: absolute;
    right: 0;
    top: 10;
  }
  &-right {
    font-size: 18px;
    &::before {
      content: "";
      width: 35px;
      height: 1px;
      background-color: $white-30;
      position: absolute;
      left: 0;
      top: 10;
    }
  }
}

.right-side {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.middle-line {
  width: 6px;
  height: 670px;
  background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
}

@media only screen and (max-width: 768px) and (min-width: 375px) {
  .road-content {
    padding: 20px;
  }
  .side-text {
    font-size: 14px;
    &::before {
      width: 15px;
    }
    &-right {
      font-size: 14px;
      &::before {
        width: 15px;
      }
    }
  }
  .middle-line {
    width: 4px;
    height: 500px;
  }
  .program-title {
    font-size: 36px;
  }
}
