.footer {
  margin-bottom: 30px;
  display: flex;
  justify-content: center; }

.foooter-title {
  font-weight: 700;
  font-size: 48px;
  text-align: center; }

.footer-text {
  font-size: 16px;
  text-align: center;
  padding: 50px;
  color: rgba(255, 255, 255, 0.5); }

.footer-bottom {
  display: flex;
  justify-content: center;
  flex-direction: column; }

.footer-input {
  position: relative;
  display: flex;
  max-width: 600px;
  justify-content: center;
  margin: 0 auto; }

.social-row {
  margin-top: 50px;
  display: flex;
  justify-content: center; }
  .social-row img {
    margin-right: 30px; }
    .social-row img:nth-child(4) {
      margin-right: 0px; }

.vk {
  background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
  width: 50px;
  padding: 13px;
  border-radius: 50%; }

.youtube {
  background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
  width: 50px;
  padding: 13px;
  border-radius: 50%; }

.facebook {
  background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
  width: 50px;
  padding: 13px;
  border-radius: 50%; }

.instagram {
  background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
  width: 50px;
  padding: 13px;
  border-radius: 50%; }

.footer-bottom-text {
  text-align: center;
  margin-top: 50px;
  color: rgba(255, 255, 255, 0.8); }

.footer-input-area {
  border-radius: 50px;
  width: 370px;
  display: block;
  padding: 11px 30px;
  background-color: rgba(255, 255, 255, 0.25); }
  .footer-input-area::placeholder {
    color: #fff;
    opacity: 100%; }

.footer-input-btn {
  position: absolute;
  right: 0; }

@media only screen and (max-width: 768px) and (min-width: 375px) {
  .foooter-title {
    font-size: 36px; } }
