.teachers {
  margin-bottom: 200px; }

.teachers-top {
  display: flex;
  flex-direction: row;
  margin-bottom: 120px; }

.teachers-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap; }

.teachers-logo {
  max-height: 80px;
  margin-right: 30px; }

.teacher-block {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 20px; }

.teachers-title {
  font-size: 48px;
  font-weight: 700; }
  .teachers-title-row {
    display: flex;
    align-items: center;
    margin-bottom: 100px;
    justify-content: flex-start; }

.teacher-img {
  margin-bottom: 40px;
  width: 200px; }

.teacher-name {
  font-size: 24px;
  text-align: center;
  font-weight: 700;
  margin-bottom: 15px; }

.teacher-text {
  text-align: center;
  font-size: 16px;
  margin-bottom: 40px;
  color: rgba(255, 255, 255, 0.8); }

@media only screen and (max-width: 768px) and (min-width: 375px) {
  .teachers {
    margin-bottom: 100px; }
  .teachers-title {
    font-size: 32px; } }
